
@{
    ViewBag.Title = "預估庫存消耗量";
    Layout = "~/Views/Shared/_ChartLayout.cshtml";
}

@section styles
{
    <style>
        .DashboardCategory {
            padding: 0;
        }

        .DashboardFrame {
            padding: 0.5em;
        }

            .DashboardFrame .DashboardWordWrapper, .DashboardFrame .DashboardGraphWrapper {
                padding: 0em;
                height: 30em;
            }

                .DashboardFrame .DashboardWordWrapper .DashboardWordName {
                    padding-top: 0.75em;
                    text-align: center;
                    font-size: 1.5em;
                }

                .DashboardFrame .DashboardWordWrapper .DashboardWordValue {
                    padding-bottom: 0.5em;
                    text-align: center;
                    font-size: 3em;
                    font-weight: bold;
                }

            .DashboardFrame .DashboardGraphWrapper {
                background-color: rgba(255, 255, 255, 0.1);
            }

                .DashboardFrame .DashboardGraphWrapper > div.StatsGraph {
                    /*height: 20em;*/
                    height: 100%;
                }
    </style>
}


@section components
{
    <div class="container-fluid">
        <div class="row" style="padding-left:2em;padding-right:1em;">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">責任中心</div>
                    </div>
                    <select class="form-control" id="ddlInid" onchange="ddlInidChange();">
                        @*<option value="560000" selected>中央庫房</option>
                        <option value='333300'>手術室</option>
                        <option value='320203'>住院藥局</option>
                        <option value='320202'>急診藥局</option>
                        <option value='320201'>門診藥局</option>
                        <option value='140000'>麻醉科部</option>*@
                    </select>
                </div>

                <label class="sr-only" for="inlineFormInputGroupUsername2">請輸入院內碼</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">院內碼</div>
                    </div>
                    <input type="text" class="form-control" id="txtMmCode" placeholder="請輸入院內碼">
                </div>

                <button type="button" class="btn btn-primary mb-2" onclick="ddlInidChange();">查詢</button>
            }
        </div>

        <div class="row" style="padding-left:1em;padding-right:1em;">
            <div class="DashboardFrame col-md-12">
                <div class="DashboardGraphWrapper">
                    <div id="sg11" class="StatsGraph"></div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
        Highcharts.setOptions({
            lang: {
                thousandsSep: ','
            }
        });

        const pergG = '22EE33'; //perg_type: 0
        const pergY = 'FFFF33'; //perg_type: 1
        const pergR = 'FF2233'; //perg_type: 2

        var inidParam = '';
        var mmCodeParam = '';
        
        var xdata = ['藥品', '衛材', '一般物品'];
        var ydata = [{ name: '藥品', data: [787, 906, 919,] },
            { name: '衛材', data: [1208, 2149, 2106] },
            { name: '文具', data: [225, 368, 421] }];
        var mergeset = [{
            data: ydata,
            type: 'bar',
            color: 'rgba(255, 30, 30, 1)',
            lineWidth: 0
        }];

        function ddlInidChange(inid, inidName) {
            inidParam = $('#ddlInid').val();
            mmCodeParam = $('#txtMmCode').val();
            $('#ddlInidText').text(inidName);
            getChartData();
        }

        function getWhnos() {
            var ajaxRequest = $.ajax({
                type: "POST",
                url: '/api/EA0003/GetWhnos',
                timeout: 10000,
                dataType: "json",
            })
                .done(function (data, textStatus) {
                    //alert(data);
                    debugger
                    if (data.success) {
                        $('#ddlInid').empty();
                        if (data.etts) {
                            data.etts.map((item) => {
                                debugger
                                var temp = "";
                                if (item.EXTRA1 == "1") {
                                    temp = " selected ";
                                    inidParam = item.VALUE;
                                }
                                var row = $("<option value=\"" + item.VALUE + "\"" + temp + ">" + item.TEXT + "</option>");
                                $("#ddlInid").append(row);
                            });
                        }
                    }
                    else {
                        alert("錯誤:" + data.msg);
                    }

                    $.unblockUI();
                    getChartData();
                })
                .fail(function (data, textStatus) {
                    alert("錯誤:" + data);
                });
        }

        function getChartData() {
            $.blockUI({ message: '<div style="font-size:14pt;">資料讀取中，請稍候!</div>' });
            //alert('getChartData:inid=' + inidParam + ';perg=' + pergParam);
            var ajaxRequest = $.ajax({
                type: "POST",
                url: '/api/EA0003/GetSeriesData',
                timeout: 10000,
                dataType: "json",
                data: {
                    INID: inidParam,
                    MMCODE: mmCodeParam
                }
            })
                .done(function (data, textStatus) {
                    //alert(data);
                    if (data.success) {
                        var sd = [];
                        var title = '';
                        data.etts.map((item) => {
                            title = $('#ddlInid option:selected').text() + ((item.MMNAME == null) ? '' : ' - ' + item.MMNAME);
                            sd[0] = {
                                name:'現有成本',
                                data: [item.ICOST_1, item.ICOST_2, item.ICOST_3]
                            };
                            sd[1] = {
                                name:'消耗成本',
                                data: [item.UCOST_1, item.UCOST_2, item.UCOST_3]
                            };
                            sd[2] = {
                                name:'總成本',
                                data: [item.ICOST_1 + item.UCOST_1, item.ICOST_2 + item.UCOST_2, item.ICOST_3 + item.UCOST_3]
                            };
                        });
                        $("#sg11.StatsGraph").highcharts(getChartSettings(title,sd));
                        $.unblockUI();
                    }
                    else {
                        alert("錯誤:" + data.msg);
                    }
                })
                .fail(function (data, textStatus) {
                    alert("錯誤:" + data);
                });
        }

        $(init);

        function init() {
            getWhnos();
        }

        function getChartSettings(title, data) {
            return {
                chart: {
                    type: 'bar'
                },
                colors: ['#165c26', '#e0ad16', '#DC3545', '#0256b0'],
                title: {
                    text: title + ' 庫存成本金額'
                },
                subtitle: {
                    //text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
                },
                xAxis: {
                    categories: ['藥品', '衛材', '一般物品'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '金額',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' 百萬',
                    shared: true,
                    crosshairs: true
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    //layout: 'vertical',
                    //align: 'right',
                    //verticalAlign: 'top',
                    //x: -40,
                    //y: 80,
                    floating: false,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: data
            };
        }

        function getSeriesData(invKind, invKindName, seriesData) {
            if (seriesData == null) seriesData = [0, 0, 0];
            var sum = seriesData[0] + seriesData[1] + seriesData[2];
            var rates = seriesData.map(x => (sum == 0) ? 0 : (x * 100 / sum).toFixed(1));
            sum = Highcharts.numberFormat(sum, 0, "", ",");
            return {
                name: invKindName + '庫存分析', colorByPoint: true, data: [
                    { name: rates[0] + '%', desc: '高於安全存量' + pergParam + '%', color: '#22EE33', s: sum, r: rates[0], y: seriesData[0], pt: 0, mc: invKind },
                    { name: rates[1] + '%', desc: '接近安全存量', color: '#FFFF33', s: sum, r: rates[1], y: seriesData[1], pt: 1, mc: invKind },
                    { name: rates[2] + '%', desc: '低於安全存量', color: '#FF2233', s: sum, r: rates[2], y: seriesData[2], pt: 2, mc: invKind }
                ], type: 'pie', innerSize: '60%'
            };
        }

        function getInvKindName(invKind) {
            switch (invKind) {
                case 1:
                    return '藥品';
                    break;
                case 2:
                    return '衛材';
                    break;
                case 3:
                    return '一般物品';
                    break;
            }
            return '';
        }

        function getPergColor(perg_type) {
            switch (perg_type) {
                case 0:
                    return pergG;
                    break;
                case 1:
                    return pergY;
                    break;
                case 2:
                    return pergR;
                    break;
            }
            return '000000';
        }
    </script>
}
