<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <!--漢翔環境-->
    <add name="AIDC_ORACLE_TEST" connectionString="Data Source=192.168.99.52/mmsms;User ID=MMSDEV;Password=Mms#Dev1357;Persist Security Info=True"
      providerName="Oracle.DataAccess.Client"/>
    <add name="AIDC_ORACLE_PRODUCTION" connectionString="" providerName="Oracle.DataAccess.Client"/>
    <add name="AIDC_MS_TEST"
      connectionString="Data Source=192.168.3.110\YSPMSSQL;Initial Catalog=MMSVEN;Persist Security Info=True;User ID=MMSadm;Password=VENdba#2468"
      providerName="System.Data.SqlClient"/>
    <add name="AIDC_MS_PRODUCTION" connectionString="" providerName="System.Data.SqlClient"/>
    <!--三總環境-->
    <add name="TSGHMM_ORACLE_TEST" connectionString="" providerName="Oracle.DataAccess.Client"/>
    <add name="TSGHMM_ORACLE_PRODUCTION" connectionString="" providerName="Oracle.DataAccess.Client"/>
    <add name="TSGHMM_MS_TEST" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="TSGHMM_MS_PRODUCTION" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--AIDC_TEST:漢翔測試;AIDC_PRODUCTION:漢翔正式;TSGHMM_TEST:三總測試;TSGHMM_PRODUCTION:三總正式-->
    <add key="servernm" value="AIDC_TEST"/>
    <!--排程程式log-->
    <add key="TsghmmLog" value="C:\TsghmmLog"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
