<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="HISDG" connectionString="Data Source=192.168.99.52:1521/MMSMST;User ID=HISDG;Password=hisdgdba#Adm1290;"/>
  <add name="MMSMS" connectionString="Data Source=192.168.99.52:1521/MMSMS;User ID=MMSDEV;Password=Mms#Dev1357;"/>

  <add name="SPTS" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.99.52)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = spts))); Persist Security Info=True;User ID = SPTSDEV; Password=Spts#Dev1357"/>

</connectionStrings>
