<?xml version="1.0" encoding="utf-8"?>
<envSettings>
  <add key="SMTP_SYS_NAME" value="國軍基本檔轉檔系統" />
  <add key="DB_TYPE" value="ORA" />
  <add key="DB_CONN_TYPE" value="TEST" />
  <add key="PRINTAPI_URL" value="http://localhost:8080/api/Print/rpt" />
  <add key="HOSP_ID" value="804" />
  <add key="HOSP_TABLE_PREFIX" value="T804_" />


  <add key="servernm" value="AIDC_TEST"/>
  <add key="TsghmmLog" value="D:\wwwroot\InadArea"/>  
</envSettings>