<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DB" connectionString="Data Source=192.168.99.52:1521/mmsmst;User ID=MMSDEV;Password=Mms#Dev1357" />
  <add name="DBT" connectionString="Data Source=192.168.99.52:1521/mmsmst;User ID=MMSDEV;Password=Mms#Dev1357" />
  <add name="DBX" connectionString="Data Source=163.29.204.62:1521/mmsms;User ID=MMSDEV;Password=Dev#Tsgh3579" />


</connectionStrings>
