<?xml version="1.0" encoding="utf-8"?>
<envSettings>
  <add key="AD_SERV" value="aidc.com.tw/DC=aidc,DC=com,DC=tw" />
  <add key="SMTP_SERV" value="tchsmtp2.aidc.com.tw" />
  <add key="SMTP_SYS_FROM" value="mmsms@ms.tsgh.ndmctsgh.edu.tw" />
  <add key="SMTP_SYS_NAME" value="藥(衛)材供應管理系統" />
  <add key="DB_TYPE" value="ORA" />
  <add key="DB_CONN_TYPE" value="TEST" />
</envSettings>