<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    <add key="ServiceType" value="ftp"/>
    <add key="Path" value="ftp://192.168.99.37:8721/"/>
    -->
    <add key="ServiceType" value="net"/>
    <add key="Path" value="\\192.168.99.37\d$"/>
    <!--
    <add key="ServiceType" value="local"/>
    <add key="Path" value="D:\test"/>
    -->
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="14400"/>
    <!-- can be configured as per the requirement. -->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsFileServiceBinding" messageEncoding="Mtom" textEncoding="utf-8" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxReceivedMessageSize="10485790" maxBufferPoolSize="10485760">
          <!-- Max:10MB -->
          <readerQuotas maxDepth="32" maxStringContentLength="10485790" maxArrayLength="10485790" maxBytesPerRead="10485790" maxNameTableCharCount="10485790"/>
          <security mode="Transport">
            <message clientCredentialType="None" establishSecurityContext="true" negotiateServiceCredential="true"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicFileServiceBinding" maxReceivedMessageSize="524288000" maxBufferPoolSize="52428800" transferMode="Streamed">
          <!-- Max:500MB per Request -->
          <readerQuotas maxDepth="32" maxStringContentLength="524288000" maxArrayLength="524288000" maxBytesPerRead="524288000" maxNameTableCharCount="524288000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="FileServiceBehavior" name="ePMSWcfService.FileService">
        <endpoint address="" name="myEP" binding="basicHttpBinding" bindingConfiguration="basicFileServiceBinding" contract="ePMSWcfService.IFileService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FileServiceBehavior">
          <!-- 為避免洩漏中繼資料資訊，請在部署之前將下列值設定為 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 為接收錯誤中的例外狀況詳細資料以用於偵錯用途，請將下面的值設定為 true。請在部署之前將該值設定為 false，以避免例外狀況資訊洩漏-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在偵錯期間瀏覽 Web 應用程式根目錄，請將下面的值設為 true。
        請在部署之前將該值設定為 false，以避免 Web 應用程式資料夾資訊洩漏。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>