<?xml version="1.0" encoding="utf-8"?>
<envSettings>
  <add key="AD_SERV" value="" />
  <add key="SMTP_SERV" value="tchsmtp2.aidc.com.tw" />
  <add key="SMTP_SYS_FROM" value="mmsven@ms2.tsgh.ndmctsgh.edu.tw" />
  <add key="SMTP_SYS_NAME" value="廠商作業管理系統" />
  <add key="DB_TYPE" value="SQL" />
  <add key="DB_CONN_TYPE" value="TEST" />  
</envSettings>