<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DB" connectionString="Data Source=192.168.16.42:1521/mmsms;User ID=MMSDEV;Password=Mms#Dev1357" />
  <add name="DBT" connectionString="Data Source=192.168.16.42:1521/mmsms;User ID=MMSDEV;Password=Mms#Dev1357" />
  <add name="DBX" connectionString="Data Source=163.29.204.62:1521/mmsms;User ID=MMSDEV;Password=Dev#Tsgh3579" />
  <add name="DB_804" connectionString="Data Source=192.168.16.42:1521/mmsms;User ID=MMSDEV;Password=Dev#Tsgh3579" />
  <add name="DB_813" connectionString="Data Source=10.10.10.116:1521/mmsms;User ID=MMSDEV;Password=Mms#Dev1357" />
  <add name="DB_805" connectionString="Data Source=192.168.88.143:1521/mmsms;User ID=MMSDEV;Password=Mms#Dev1357" />
  <add name="DB_HOME" connectionString="Data Source=192.168.99.52/mmsmst;User ID=MMSDEV;Password=Mms#Dev1357" />


</connectionStrings>
