<?xml version="1.0" encoding="utf-8"?>
<envSettings>
  <add key="AD_SERV" value="aidc.com.tw/DC=aidc,DC=com,DC=tw" />
  <add key="SMTP_SERV" value="tchsmtp2.aidc.com.tw" />
  <add key="SMTP_SYS_FROM" value="mmsms@ms.tsgh.ndmctsgh.edu.tw" />
  <add key="SMTP_SYS_NAME" value="藥(衛)材供應管理系統" />
  <add key="DB_TYPE" value="ORA" />
  <add key="DB_VERSION" value="11" />
  <add key="DB_CONN_TYPE" value="TEST" />
  <add key="IS_SSL" value="Y" />
  <add key="ACSRF" value="N" />
  <add key="AD_WEBSITE" value="http://webad/apply/" />
  <add key="804_LOGIN" value="N" />
  <add key="813_LOGIN" value="N" />
  <add key="804_API_URL1" value="http://192.168.99.52:804/api/Login/Authentication" />
  <add key="804_API_URL2" value="http://192.168.99.52:804/api/Authentication" />
</envSettings>