/* 加入人員 612790 黃湘倫 
.my-fieldset .x-fieldset {
    background-color: #ecf5ff;
}

.my-fieldset .x-fieldset-header-text {
        font-weight: bold;
}


.x-fieldset {
    background-color: #ecf5ff;
}

.x-fieldset-header-text {
    font-weight: bold;
}
*/